<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Compiled & minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css" />

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link rel="shortcut icon" href="assets/img/news-icon.png" />
    <title>Scraper News</title>
</head>

<body>
    <main>
        <div class="container"></div>
    </main>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
<html>

</html>

</html>